@use "../abstracts/variables" as *;


.btn-custom {
  background-color: $color-primary;
  border-radius: 8px; }

button,
.btn {
  background-color: $color-primary;
  color: white;
  padding: 10px 20px;
  border-radius: $radius;
  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  }
}
