@use "../abstracts/mixins" as *;

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  border: none;
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;

  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: all .3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  }

  img {
    width: 100%;
    max-width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin: 15px auto;
    display: block;
  }

  h3 {
    margin-top: 10px;
  }

  p {
    margin-top: 10px;
  }

  @include mobile {
    padding: 15px;
  }
}