* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
html {
    scroll-behavior: smooth; 
}
a {
    transition: color 0.3s ease;
}
img { 
    max-width: 100%;
    height: auto;
}