@use "../abstracts/mixins" as *;

h1 {
  font-size: 2.5rem;
  font-weight: 700;

  @include mobile {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;

  @include mobile {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 1.4rem;
  opacity: .9;

  @include mobile {
    font-size: 1.2rem;
  }
}

p {
  line-height: 1.6;
}

a,
button,
.card {
  transition: all 0.3s ease;
}